# Ignore Unity generated stuff inside UnityProject
UnityProject/Library/
UnityProject/Temp/
UnityProject/Logs/
UnityProject/Obj/
UnityProject/Build/
UnityProject/Builds/
UnityProject/UserSettings/


# IDE stuff
UnityProject/.idea/
UnityProject/*.csproj
UnityProject/*.sln
UnityProject/*.userprefs

# Rider/VSCode
UnityProject/.vscode/
UnityProject/*.unityproj
UnityProject/*.iml
UnityProject/*.ipr
UnityProject/*.iws

# Build artifacts
UnityProject/*.apk
UnityProject/*.aab

# Keystore 
UnityProject/*.keystore
UnityProject/*.jks
UnityProject/user.keystore

UnityProject/.utmp/