# Ignore Unity generated stuff inside UnityProject
UnityProject/Library/
UnityProject/Temp/
UnityProject/Logs/
UnityProject/Obj/
UnityProject/Build/
UnityProject/Builds/
UnityProject/UserSettings/


# IDE stuff
.idea/
*.csproj
*.sln
*.userprefs

# Rider/VSCode
.vscode/
*.unityproj
*.iml
*.ipr
*.iws

# Build artifacts
*.apk
*.aab

# Keystore 
*.keystore
*.jks
user.keystore